// 클래스 명으로 스타일 작성 (태그 선택자 X)

#header {
	width: 100%;
	height: 100px;
	padding: 0 10vw;
	background: #555;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		a {
			// font-family 지정가능
			// var(--font-폰트객체명)
			font-family: var(--font-orbitron);
			font-weight: 500;
			color: #fff;

			&.on {
				color: hotpink;
			}
		}
	}

	#gnb {
		display: flex;
		gap: 40px;

		a {
			font: 16px/1 'arial';
			color: #ddd;

			&.on {
				color: aquamarine;
			}
		}
	}
}
